# Core dependencies
numpy
scipy
sympy
openturns
matplotlib
tqdm
joblib
beartype
gldpy

# Optional dependencies for surrogate modeling
torch
torcheval
scikit-learn

# Optional dependencies for visualization and 3D geometry processing
networkx
trimesh
triangle
pytransform3d
pyglet<2

# Optional documentation dependencies
sphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
furo
myst-parser
