# Core dependencies
numpy
scipy
sympy
openturns
matplotlib
tqdm
joblib
torch
torcheval
scikit-learn
trimesh
beartype
triangle
pytransform3d
pyglet<2

# Documentation dependencies (optional)
sphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
furo
myst-parser
